body {
background-color: yellowgreen;

}

h1 {
    font-size: 1cm;
    font-family: 'Times New Roman', Times, serif; 
    text-align: center;
}

#container {
    width: 100vw;
    margin:auto;
    grid-template-areas: 
'hd'
'nv'
'mn'
'ft'

}

header {
    grid-area: hd;

}

nav {

    grid-area: nv;
}

img {

  border-radius: 6px;
width: 50%;
height:auto;


}

main {
    grid-area:mn;
    background-color: gray;
}

footer {
grid-area: ft;
}

#wrapper {

    float:right;
    width:200px;
    border: solid 1px black;
}