#index {
background-color: whitesmoke;

}

h1 {
    font-size: 1cm;
    font-family: 'Times New Roman', Times, serif; 
    text-align: center;
}

#container {
    width: 95w;
    margin:auto;
    grid-template-areas: 
'hd'
'nv'
'mn'
'ft'

}

header {
    grid-area: hd;
background-color: gray;
}

nav {

    grid-area: nv;
}

img {

  
width: 100%;
height:auto;
border-bottom: 1px solid black;

}

main {
    grid-area:mn;
    background-color: grey;
    border:solid 1px black;
}

footer {
grid-area: ft;

}


#wrapper {

    float:right;
    width:200px;
    border: solid 1px black;
}

hr{
    border: 0.5px solid black;
}

#fakta{
    background-color: gray;
}

a{
    text-decoration: none;
    border: black solid 0.04cm;
    background-color: silver;
}